#chat-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 12px;
  box-shadow: 0 4px 25px rgba(0, 212, 255, 0.4);
}

#chat-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
